# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Models (important - avoid pushing large files)
models/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# API keys / secrets
.env